body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  width: 100vw;
}

h2 {
  font-family: "Urbanist", sans-serif;
}

a {
  text-decoration: none;
}

.view-btn-secondary{
  padding: 10px 20px; 
  color: #fff; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 19px;
  transition: background-color 0.3s;
  font-family: "Urbanist", sans-serif;
  margin-top: 20px;
}

.view-btn-secondary {
  background-color: #aa6812;
}

.view-btn-secondary:hover {
  background-color: #89530d; 
}

.view-btn {
  background-color: #1254aa;
}

.view-btn:hover {
  background-color: #0d4389; 
}

.btn-primary {
  background-color: #1254aa; 
  margin-top: 20px;
  letter-spacing: 0.05em;
  width: 180px;
  border-radius: 4px;
  height: 40px;
  border: none;
  font-size: 19px;
}


/* Navigation Bar Styling */
.navigation {
  background-color: #ffffff;
  padding: 10px 20px;
  position: relative;
  z-index: 1000;
}

/* Adjust logo size */
.navbar-brand .logo {
  height: 50px; 
}

.navbar-toggler {
  border: none;
  color: #ffffff;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/%3E%3C/svg%3E');
}

.navbar-nav .nav-item .nav-link {
  color: #131313;
  padding: 10px 15px;
  text-transform: uppercase;
  margin: 0 10px;
  text-align: right;
  font-weight: 500;
  font-size: 1rem;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: #1b1b1b; 
  border-radius: 4px;
  color: #fff;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.row {
  margin: 0;
}

.row p {
  padding: 20px 80px;
  text-align: center;
  background-color: white;
  color: #0a0a0a;
  font-size: 1.3rem;
  border-radius: 8px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}



/* Header Row Styling */
.header-row {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('images/crosstrek2.jpg'); /* Correct syntax for background-image */
  background-repeat: no-repeat; /* Add this for no repeat */
  background-position: center; /* Add this for center positioning */
  background-size: cover; /* Make sure the image covers the whole container */
  color: #fff; /* Adjust text color as needed */
  position: relative; /* Ensure the overlay can be positioned absolutely */
}


/* Dark Overlay */
.header-row::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Adjust opacity for the overlay */
  z-index: 1; /* Ensure the overlay is below the content but above the background image */
}

/* Ensure the content is above the overlay */
.header-row > * {
  position: relative;
  z-index: 2;
}

.header-row h1 {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 5.5rem;
  font-weight: bold;
  text-shadow: 3px 2px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
  margin-bottom: 20px;
  z-index: 2;
  opacity: 0; 
  animation: fadeIn 1.5s ease-in forwards;
  color: #ffffff;
}

/* Keyframes for fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* .header-row h1 {
  margin-bottom: 20px;
} */

.btn-primary-header {
  background-color: #0d4389; 
  padding: 10px 20px; 
  color: #fff; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s;
  font-family: "Urbanist", sans-serif;
}

.btn-primary:hover {
  background-color: #0d4389; 
}

/* Info Box Styling - Dark Row */
.full-width-row {
  background-color: #1b1b1b;
  color: white;
  padding: 40px 20px 0px 20px;
}

.info-box {
  text-align: center;
  border-radius: 8px;
}

.info-box strong {
  display: block;
  font-size: 2rem;
  margin-bottom: 5px;
  color: #aa6812;
  font-family: "Urbanist", sans-serif;
}

.info-box span {
  font-size: 1.5rem;
  font-family: "Urbanist", sans-serif;
}

.intro-row { 
  background-color: #1b1b1b;
  color: white;
  padding: 20px 10px 40px 10px;
}

.intro-row h2 {
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2.8rem;
  font-weight: bold;
}

.intro-row h4 {
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2rem;
}

.intro-row .col-md-12 {
  padding: 65px 20px;
  width: 100%;
  background-color: #1b1b1b;
  color: #ffffff;
  text-align: center;
}

/* Left column with background image */
.left-column-row-3 {
  display: block;
  background-color: #fff;
  height: 400px;
  padding: 20px;
  color: #0a0a0a;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Right column text styling */
.right-column-row-3 {
  background-image: url(images/crosstrek.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}

.row-3 {
  padding: 30px 0;
  height: auto;
}


/* Row Four - "Extra Power" */

/* Left column with background image */
.left-column-row-4 {
  background-image: url(images/crosstrek11.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Right column text styling */
.right-column-row-4 {
  display: block;
  background-color: #fff;
  height: 500px;
  padding: 20px;
  color: #0a0a0a;
  font-size: 1.5rem;
  text-align: center;
  align-content: center; 
}


/* Row Five - "Sporty Exterior Design" */
/* Left column with background image */
.left-column-row-5 {
  display: block;
  background-color: #fff;
  height: auto;
  padding: 20px;
  color: #0a0a0a;
  font-size: 1.5rem;
  text-align: center;
  align-content: center; 
}


/* Right column text styling */
.right-column-row-5 {
  background-image: url(images/crosstrek10.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Row Six - "Comfortable and Modern Interior" */

/* Left column with background image */
.left-column-row-6 {
  background-image: url(images/crosstrek5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

/* Right column text styling */
.right-column-row-6 {
  display: block;
  background-color: #fff;
  padding: 20px;
  color: #0a0a0a;
  font-size: 1.5rem;
  text-align: center;
  align-content: center; 
}


/* Row Seven - "Safe, Convenient, and Entertaining" */

/* Left column with background image */
.left-column-row-7 {
  display: block;
  background-color: #fff;
  height: auto;
  padding: 20px;
  color: #0a0a0a;
  font-size: 1.5rem;
  text-align: center;
  align-content: center; 
}

/* Right column text styling */
.right-column-row-7 {
  background-image: url(images/crosstrek8.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}


/* Row Eight - Full Width Image */
.full-image-row-1 {
  background-image: url(images/24_CTK_gallery_ext_03.jpeg);
  background-size: cover;
  background-position: center center ;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 350px;
}

/* Row 9 - "Ready to Hit the Road?" */
.row-9 {
  background-color: #1b1b1b;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.row-9 h2 {
  font-weight: bold;
  font-size: 2.8rem;
}

.row-9 h4 {
  font-size: 2rem;
}



.row-9 .view-btn {
  background-color: #aa6812; 
  padding: 10px 20px; 
  color: #fff; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  font-family: "Urbanist", sans-serif;
}


.view-btn {
  margin-top: 20px
}

.list-container {
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: flex-start;
  max-width: 800px;
  padding: 20px;
  background-color: #1b1b1b;
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list-column {
  list-style-type: disc; /* Bulleted list */
  margin: 0;
  padding: 0 20px; 
}

.list-column li {
  margin-bottom: 10px;
}

.left-column-row-3 {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.view-inventory {
  margin-top: 20px; 
}



/* Ensure gallery images cover their container */
.custom-gallery-image {
  width: 100%; /* Make the image fill the width of the container */
  height: 100%; /* Make the image fill the height of the container */
  object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
  display: block; /* Remove any default inline spacing */
}


.col-md-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
  padding: 0px;
}

/* Basic styling */
.gallery {
  display: flex;
  gap: 0px;
}

.gallery-item {
  width: 150px;
  cursor: pointer;
}


/* Modal styling */
#custom-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Dark background */
  justify-content: center;
  align-items: center;
}



/* Modal styling */
#custom-modal-2 {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Dark background */
  justify-content: center;
  align-items: center;
}

/* Modal content container */
.modal-content {
  position: relative;
  max-width: 100%;
  width: 60%; /* Adjust as needed */
  height: 300px; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Slideshow images */
.modal-content img {
  width: 100%;
  height: auto; 
  object-fit: cover; 
  max-height: 100%;
}


/* Slides */
.custom-slide {
  display: none;
  width: 100%;
}

.custom-slide.custom-active {
  display: block;
  height: 500px;
}

/* Navigation buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}



/* Close button (if applicable) */
#custom-modal .close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}






/* View Gallery Modal - Row Three */
/* Prevent scrolling when modal is open */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  position: relative;
  margin: 15% auto;
  padding: 0px;
  width: 60%;
  background-color: #fff;
}

.slides {
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  text-align: center;
}

.slide img {
  width: 100%;
  height: 450px; 
  object-fit: cover;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

body.modal-open {
  overflow: hidden;
}





/* Footer Styling */
.footer {
  display: grid;
  background-color: #1b1b1b;
  height: 100%;
  padding: 60px;
  width: 100vw;
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  align-content: flex-end;
  font-family: "Urbanist", sans-serif;
}

.footer img {
  margin-bottom: 40px;
  width: 200px;
}

.navbar-brand .logo {
  height: auto;
}







/* Responsive adjustments */
@media (max-width: 1200px) {
  .masonry-gallery {
    column-count: 3;
  }
}


@media (max-width: 768px) {
  .masonry-gallery {
    column-count: 2; 
  }

    .col-md-6 {
        flex: 0 0 auto;
        width: 100%;
    }

    .row.row-5 {
      display: flex;
    }
    
    /* Columns order on medium and larger screens */
  .left-column-row-5 {
      order: 1;
    }
    
  .right-column-row-5 {
      order: 2;
      }
    
  .row.row-5 {
        flex-direction: column-reverse; /* Reverses the order of columns */
      }
      
  .row.row-7 {
        flex-direction: column-reverse; /* Reverses the order of columns */
      }

 .row-9 {
    padding: 40px;
    height: auto;
  }


  .row p {
    padding: 20px 20px;
    text-align: center;
    background-color: white;
    color: #0a0a0a;
    font-size: 1.3rem;
    border-radius: 8px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
  }
      

  h2 {
      margin-top: 40px;
      font-size: 2rem;
    }

  .row p {
    font-size: 1.3rem;
    padding: 10px;
  }

    
  .info-box strong {
    font-size: 1.6rem;
}

  .info-box span {
    font-size: 1.2rem;
}

}

@media (max-width: 480px) {
  .masonry-gallery {
    column-count: 1; 
  }

  .navbar-nav .nav-item .nav-link {
    color: #131313;
    padding: 5px 15px;
    text-transform: uppercase;
    margin: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    font-family: "Urbanist", sans-serif;
}

  .header-row h1 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 5px 2px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 2; 
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 100%;
    padding: 0px;
  }

  .custom-gallery-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
  }

  .header-row {
    height: 110vh;
  }


  .row-9 h2 {
    font-weight: bold;
    font-size: 1.8rem;
}

  .row-9 h4 {
    font-weight: bold;
    font-size: 1.5rem;
  }



  /* Full cover image for the header */
  .header-row {
    padding: 60px 20px;
    background-image: url(images/crosstrek2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: white;
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0; 
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 1;
}

  .footer {
    display: grid;
    background-color: #1b1b1b;
    height: auto;
    padding: 40px 40px;
}

    .right-column-row-3 {
      padding-top: 40px;
          height: 250px;
    }
  
    .left-column-row-4 {
      height: 300px;
    }
  
    .right-column-row-4 {
      height: auto;
    }
  
    .left-column-row-5 {
      height: auto;
    }
  
    .right-column-row-5 {
      height: 300px;
    }
  
    .left-column-row-6 {
      height: 300px;
    }
  
    .right-column-row-6 {
      height: auto;
    }
  
    .left-column-row-7 {
      height: auto;
    }
  
    .right-column-row-7 {
      height: 300px;
    }


}

@media (max-width: 375px) {
  .header-row h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  .row-9 h2 {
    font-weight: bold;
    font-size: 1.8rem;
}

  .row-9 h4 {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .row p {
    font-size: 1.2rem;
  }

  .left-column-row-5 {
    padding: 20px 20px;
  }

  .right-column-row-6 {
    padding: 20px 30px;
  }

  .left-column-row-7 {
    padding: 20px 30px;
  }


}

@media (max-width: 320px) {
  .header-row h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 2rem;
  }

  .row p {
    font-size: 1.2rem;
    padding: 10px;
  }
}

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .header-row h1 {
    font-size: 3rem;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 33.33%;
}
}

/* Medium devices (tablets and small desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .header-row h1 {
    font-size: 3.5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .header-row h1 {
    font-size: 4rem;
  }
}  
